* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header nav ul {
    padding: 1em;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    border: 10px white solid;
    background-color: rgb(255, 227, 127);
}

header nav ul li {
    border-bottom: 4px dotted;
    list-style-type:none;
}

header nav ul li a{
    text-decoration: none;
    padding: 0px 10px;
    transition: 0.5s;
}

header nav ul li a:hover{
    letter-spacing: 1px;
    color: black;
    border: 4px;
    border-radius: 20px;
    background-color: white;
    transition: 0.5s;
}